{%extends 'meuperfil/base.html'%}
{%block content%}
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    
    <script>

var latitudeInicio;
var longitudeInicio;


function pegaLocalizacao () {
if ('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(function(position){

        latitudeInicio = position.coords.latitude;
        longitudeInicio = position.coords.longitude;
        
        initMap(latitudeInicio, longitudeInicio);
    
    }, function(error){
        console.log(error)
    })
}

}


      function initMap(lat, lng) {
        $("#latitude").attr("value", lat )
        $("#longitude").attr("value", lng )
        var originalMapCenter = new google.maps.LatLng(lat, lng);
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: originalMapCenter,
        });
        

        var marcador = new google.maps.Marker({
            position: originalMapCenter,
            map: map
        });
        var latitudeAgora = latitudeInicio;
        var longitudeAgora = longitudeInicio;
        var geocoder = new google.maps.Geocoder;

        map.addListener('click', function(event) {

            
            latitudeAgora = event.latLng.lat;
            longitudeAgora = event.latLng.lng;
            marcador.setPosition( event.latLng);
            $("#latitude").attr("value", latitudeAgora );
            $("#longitude").attr("value", longitudeAgora );
            geocodeLatLng(geocoder, map);

        });

        geocodeLatLng(geocoder, map);
      }

      function geocodeLatLng(geocoder, map) {
        console.log("--------------------------");
        var lat = document.getElementById('latitude').value;
        var lng = document.getElementById('longitude').value;
        var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
        geocoder.geocode({'location': latlng}, function(results, status) {
            console.log(status);
          if (status === 'OK') {
            var x = 1;
            for (var ac = 0; ac < results[0].address_components.length; ac++) {
                                    var component = results[0].address_components[ac];
                                    console.log(component);
                                    
                                    switch(component.types[0]) {
                                        case 'route':
                                            if (component.long_name != 'Unnamed Road') {
                                                $("#id_rua").attr("value",component.long_name);
                                            }else {
                                                $("#id_rua").attr("value",'');
                                            }
                                            var x = 0;

                                        case 'political':
                                            if (component.long_name != 'Unnamed Road' && component.long_name != $("#id_rua").val()) {
                                                $("#id_bairro").attr("value",component.long_name);
                                            }else {
                                                $("#id_bairro").attr("value",'');
                                            }
                                            var x = 0;

                                        case 'administrative_area_level_2':
                                            $("#id_cidade").attr("value",component.long_name);
                                            var x = 0;

                                        case 'administrative_area_level_1':
                                            $("#id_estado").val(component.short_name);
                                            var x = 0;
                                            break;
                                        }
                                        if (x == 1){
                                                $("#id_rua").attr("value",'');
                                                $("#id_bairro").attr("value",'');
                                                $("#id_cidade").attr("value","");
                                                $("#id_estado").val("XX");
                                            }
                                
                                    }
                                
                            }else{
                                $("#id_rua").attr("value",'');
                                $("#id_bairro").attr("value","");
                                $("#id_cidade").attr("value","");
                                $("#id_estado").val("XX");
                            }
        });
      }

    </script>
<div id="map"></div>

    <form action="/painel/cadastraVaga" enctype="multipart/form-data" method="post">

    {% csrf_token %}
    <input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">
    {{ form.as_p }}
    
    <input type="submit" value="Cadastrar Vaga"/>

</form>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuooDCdaiJoPAR0p57uP9nrdisfemuGHA&callback=pegaLocalizacao">
    </script>
  </body>
</html>

{%endblock%}


