{%extends 'meuperfil/base.html'%}
{%block content%}
<style>
    p {
        color: black;
    }
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .escondida {
        visibility: hidden;
        height: 0px;
      }
    </style>
  </head>
  <body>
    
    <script>
        $('#titulo').text('Cadastro de vaga')

            

      
var latitudeInicio;
var longitudeInicio;


function pegaLocalizacao () {
if ('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(function(position){

        latitudeInicio = position.coords.latitude;
        longitudeInicio = position.coords.longitude;
        
        initMap(latitudeInicio, longitudeInicio);
    
    }, function(error){
        console.log(error)
    })
}

}


      function initMap(lat, lng) {
        $("#latitude").attr("value", lat )
        $("#longitude").attr("value", lng )
        var originalMapCenter = new google.maps.LatLng(lat, lng);
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: originalMapCenter,
        });
        

        var marcador = new google.maps.Marker({
            position: originalMapCenter,
            map: map
        });
        var latitudeAgora = latitudeInicio;
        var longitudeAgora = longitudeInicio;
        var geocoder = new google.maps.Geocoder;

        map.addListener('click', function(event) {

            
            latitudeAgora = event.latLng.lat;
            longitudeAgora = event.latLng.lng;
            marcador.setPosition( event.latLng);
            $("#latitude").attr("value", latitudeAgora );
            $("#longitude").attr("value", longitudeAgora );
            geocodeLatLng(geocoder, map);

        });

        geocodeLatLng(geocoder, map);
      }

      function geocodeLatLng(geocoder, map) {
        console.log("--------------------------");
        var lat = document.getElementById('latitude').value;
        var lng = document.getElementById('longitude').value;
        var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
        geocoder.geocode({'location': latlng}, function(results, status) {
            console.log(status);
          if (status === 'OK') {
            var cp = 1;
            var rua =1;
            var brr =1;
            var cid =1;
            var est =1;
            for (var ac = 0; ac < results[0].address_components.length; ac++) {
                                    var component = results[0].address_components[ac];
                                    console.log(component);
                                    
                                    switch(component.types[0]) {
                                        case 'street_number':
                                            $("#id_complemento").attr("value",component.long_name);
                                            var cp = 0;
                                        case 'route':
                                            if (component.long_name != 'Unnamed Road') {
                                                $("#id_rua").attr("value",component.long_name);
                                            }else {
                                                $("#id_rua").attr("value",'');
                                            }
                                            var rua = 0;

                                        case 'political':
                                            if (component.long_name != 'Unnamed Road' && component.long_name != $("#id_rua").val()) {
                                                $("#id_bairro").attr("value",component.long_name);
                                            }else {
                                                $("#id_bairro").attr("value",'');
                                            }
                                            var brr = 0;

                                        case 'administrative_area_level_2':
                                            $("#id_cidade").attr("value",component.long_name);
                                            var cid = 0;

                                        case 'administrative_area_level_1':
                                            $("#id_estado").val(component.short_name);
                                            var est = 0;
                                            break;
                                        }
                                        if (cp == 1){
                                                $("#id_complemento").attr("value","");
                                            }
                                        if (rua == 1){
                                                $("#id_rua").attr("value",'');
                                            }
                                        if (brr == 1){
                                                $("#id_bairro").attr("value",'');
                                            }
                                        if (cid == 1){
                                                $("#id_cidade").attr("value","");
                                            }
                                        if (est == 1){
                                                $("#id_estado").val("XX");
                                            }
                                
                                    }
                                
                            }else{
                                $("#id_rua").attr("value",'');
                                $("#id_bairro").attr("value","");
                                $("#id_cidade").attr("value","");
                                $("#id_estado").val("XX");
                            }
        });
        $("#preloader").hide();
      }

      $(document).on('change', '#id_modo', function(){
          var opcao = $("#id_modo").val();
          if (opcao == "I"){
            $("#escondida").addClass('escondida');
          }else{
            $("#escondida").removeClass('escondida');
          }
      });

    
    

    </script>
<div id="map"></div>

    <form action="/painel/cadastraVaga" enctype="multipart/form-data" method="post" style="padding: 15px;">

    {% csrf_token %}
    <input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">
    <h5>Dados do endereço da vaga</h5>
    {{form.estado}}
    <br><br>
    {{form.cidade}}
    <br>
    {{form.bairro}}
    <br>
    {{form.rua}}
    <br>
    {{form.complemento}}
    
    <hr>
    <label>Valor da vaga pelo tempo total que ficará disponível no dia</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">R$</span>
        </div>
        {{form.valor}}
    </div>
    <br>
    <label>Foto da vaga</label>
    <div class="form-group">
        {{form.foto}}
    </div>
    <br>
    <label>Descrição da foto</label>
    {{form.descricao}}
    <br>
    <label>A vaga ficará disponivel o dia inteiro?</label>
    {{form.modo}}
    <br><br>
    <div id="escondida" class="escondida">
        <label>A partir de que hora a vaga ficara disponível?</label>
        {{form.abre}}<br><br>
        <label>E quando voltara a estar ocupada?</label>
        {{form.fecha}}<br><br>
        <h6>Quais os dias da semana que estara disponivel?</h6>
        <div class="form-check form-check-inline">
        {{form.segunda}}<label>Seg</label>
        </div>
        <div class="form-check form-check-inline">
        {{form.terca}}<label>Ter</label>
        </div>
        <div class="form-check form-check-inline">
        {{form.quarta}}<label>Qua</label>
        </div>
        <div class="form-check form-check-inline">
        {{form.quinta}}<label>Qui</label>
        </div>
        <div class="form-check form-check-inline">        
        {{form.sexta}}<label>Sex</label>
        </div>
        <div class="form-check form-check-inline">
        {{form.sabado}}<label>Sab</label>
        </div>
        <div class="form-check form-check-inline">
        {{form.domingo}}<label>Dom</label>
        <br>
        </div>
    </div>
    {{form.observacao}}
<br>
    
    <input type="submit" class="form-control btn-success" value="Cadastrar Vaga"/>

</form>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuooDCdaiJoPAR0p57uP9nrdisfemuGHA&callback=pegaLocalizacao">
    </script>
  </body>
</html>

{%endblock%}


