{%extends 'meuperfil/base.html'%}
{%block content%}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuooDCdaiJoPAR0p57uP9nrdisfemuGHA&callback=pegaLocalizacao">
    </script>
<script>
{% if mensagem|length > 0 and observacao|length > 0%}
    alert('{{mensagem}}'+'\n\nOBSERVACAO: {{observacao}}')
{%endif%}
{% if mensagem|length > 0 and observacao|length < 1%}
    alert('{{mensagem}}')
{%endif%}
//pegar localização
var latitudeInicio;
var longitudeInicio;


function pegaLocalizacao () {
if ('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(function(position){

        latitudeInicio = position.coords.latitude;
        longitudeInicio = position.coords.longitude;
        
        initialize();
    
    }, function(error){
        console.log(error)
    })
}

}




//Função para inicializar o mapa

// Váriáveis necessárias
var map;
var infoWindow;

// A variável markersData guarda a informação necessária a cada marcador
// Para utilizar este código basta alterar a informação contida nesta variável
var markersData = [
{%if lista_vagas|length > 0%}
    {% for vaga in lista_vagas%}
   {
      lat: "{{vaga.lat}}",
      lng: "{{vaga.lng}}",
      id: "{{vaga.id}}",
      nome: "{{vaga.usuario.first_name}} {{vaga.usuario.last_name}}",
      morada1:"{{vaga.rua}}, {{vaga.bairro}}, {{vaga.cidade}}",
      morada2: "R${{vaga.valor}}/Dia",
      codPostal: "{{vaga.nota_vaga}}" // não colocar virgula no último item de cada maracdor
   },
   {%endfor%}
{%else%}

   $("#preloader").hide()
{%endif%}
];


function initialize() {
   var mapOptions = {
      center: new google.maps.LatLng(latitudeInicio,longitudeInicio),
      zoom: 15,
      mapTypeId: 'roadmap',
   };

   map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

   // cria a nova Info Window com referência à variável infowindow
   // o conteúdo da Info Window será atribuído mais tarde
   infoWindow = new google.maps.InfoWindow();

   // evento que fecha a infoWindow com click no mapa
   google.maps.event.addListener(map, 'click', function() {
      infoWindow.close();
   });

   // Chamada para a função que vai percorrer a informação
   // contida na variável markersData e criar os marcadores a mostrar no mapa
   displayMarkers();
}
pegaLocalizacao();

// Esta função vai percorrer a informação contida na variável markersData
// e cria os marcadores através da função createMarker
function displayMarkers(){

   // esta variável vai definir a área de mapa a abranger e o nível do zoom
   // de acordo com as posições dos marcadores
   var bounds = new google.maps.LatLngBounds();
   
   // Loop que vai estruturar a informação contida em markersData
   // para que a função createMarker possa criar os marcadores 
   for (var i = 0; i < markersData.length; i++){

      var latlng = new google.maps.LatLng(markersData[i].lat, markersData[i].lng);
      var nome = markersData[i].nome;
      var morada1 = markersData[i].morada1;
      var morada2 = markersData[i].morada2;
      var codPostal = markersData[i].codPostal;
      var id = markersData[i].id;

      createMarker(latlng, nome, morada1, morada2, codPostal, id);

      // Os valores de latitude e longitude do marcador são adicionados à
      // variável bounds
      //bounds.extend(latlng);  
   }

   // Depois de criados todos os marcadores
   // a API através da sua função fitBounds vai redefinir o nível do zoom
   // e consequentemente a área do mapa abrangida.
   //map.fitBounds(bounds);
}

// Função que cria os marcadores e define o conteúdo de cada Info Window.
function createMarker(latlng, nome, morada1, morada2, codPostal, id){
   var marker = new google.maps.Marker({
      map: map,
      position: latlng,
      title: nome
   });

   // Evento que dá instrução à API para estar alerta ao click no marcador.
   // Define o conteúdo e abre a Info Window.
   google.maps.event.addListener(marker, 'click', function() {
      
      // Variável que define a estrutura do HTML a inserir na Info Window.
      var iwContent = "<div id='iw_container'>" +
            "<div class='iw_title'>De: " + nome + "</div>" +
         '<div class="iw_content">' + morada1 + "<br /><br> </div>" +
         "<div>Valor: "+morada2+" <div align='right'><a class='btn btn-success' href='/painel/"+id+"/detalhe'><b>Ver Vaga<b></a></div></div></div>";
      
      // O conteúdo da variável iwContent é inserido na Info Window.
      infoWindow.setContent(iwContent);

      // A Info Window é aberta.
      infoWindow.open(map, marker);
   });


   $("#preloader").hide();


}
</script>

<div id="map-canvas" class="mb-2" style="height: 99vh"></div>



{%endblock%}
