{%extends 'meuperfil/base.html'%}
{%block content%}
{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
  
</head>
<script type="text/javascript">
    $('#titulo').text('Rota')
{% if mensagem|length > 0 and observacao|length > 0%}
    alert('{{mensagem}}'+'\n\nOBSERVACAO: {{observacao}}')
{%endif%}
{% if mensagem|length > 0 and observacao|length < 1%}
    alert('{{mensagem}}')
{%endif%}
function pegaLocalizacao() {
    if ('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(function(position){

        latitudeInicio = position.coords.latitude;
        longitudeInicio = position.coords.longitude;
        
        initMap(latitudeInicio, longitudeInicio);
    
    }, function(error){
        console.log(error)
    });
}
    function initMap(lat, lng) {
        var directionsService = new google.maps.DirectionsService();
        var directionsRenderer = new google.maps.DirectionsRenderer();
        var originalMapCenter = new google.maps.LatLng(lat, lng);
        var vaga = new google.maps.LatLng("{{v.lat}}", '{{v.lng}}');
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: originalMapCenter,
        });
        directionsRenderer.setMap(map);


        var marcador = new google.maps.Marker({
            position: originalMapCenter,
            icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/library_maps.png',
            map: map,
            title: "Você está aqui"
        });

        var marcadorvaga = new google.maps.Marker({
            position: vaga,
            map: map,
            title: "Vaga"
        });


        var latitudeAgora = latitudeInicio;
        var longitudeAgora = longitudeInicio;
        calcRoute(originalMapCenter, vaga);

    function calcRoute(start, end) {

  var request = {
    origin: start,
    destination: end,
    travelMode: 'DRIVING'
  };
  directionsService.route(request, function(result, status) {
    if (status == 'OK') {
      directionsRenderer.setDirections(result);

    }
  });
   $("#preloader").hide();

      }
}
}

</script>
<body>
<BR><BR>
<div id="map" class="mb-2" style="height: 90vh;"></div> 
</body>
</html>

 

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuooDCdaiJoPAR0p57uP9nrdisfemuGHA&callback=pegaLocalizacao">
    </script>
{%endblock%}