{%extends 'meuperfil/base.html'%}
{%block content%}
{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
  
</head>
<style type="text/css">
    button{
        background-color: transparent;
        border-width: 0px;
        padding: 0px;
    }
    .col {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    
</style>
<script type="text/javascript">
    $("#titulo").text('Transações');
function observacao(o){
    alert(o);
}
function contato(x){
    alert(x);
}
    $(window).on("load", function(){

   $("#preloader").hide();

});
    $(document).on("click", "button", function() {
        var valor = $(this).val();
        var div = $(this).closest('div.transacao');
        var idt = $(this).closest('div.transacao').attr('id');
        $.ajax({
                    method:"POST",
                    url: "api/avaliacao",
                    data: {idtransacao: idt, nota: valor}
                 }).done(function(data) {
                    if (data.status == "Ok") {
                        ajusta(valor, div); 
                    }else{
                        alert("Erro ao avaliar transação");
                    }
        
        });
    });
    function ajusta(valor, div) {
        $(div).find("#0").css({'color': 'black'});
        $(div).find("#1").css({'color': 'black'});
        $(div).find("#2").css({'color': 'black'});
        $(div).find("#3").css({'color': 'black'});
        $(div).find("#4").css({'color': 'black'});
        if (valor == '0') {
        $(div).find("#0").css({'color': 'yellow'});
        }
        if  (valor == '1') {
        $(div).find("#0").css({'color': 'yellow'});
        $(div).find("#1").css({'color': 'yellow'});
        }
        if (valor == '2') {
        $(div).find("#0").css({'color': 'yellow'});
        $(div).find("#1").css({'color': 'yellow'});
        $(div).find("#2").css({'color': 'yellow'});
        }
        if (valor == '3') {
        $(div).find("#0").css({'color': 'yellow'});
        $(div).find("#1").css({'color': 'yellow'});
        $(div).find("#2").css({'color': 'yellow'});
        $(div).find("#3").css({'color': 'yellow'});
        }
        if (valor == '4') {
        $(div).find("#0").css({'color': 'yellow'});
        $(div).find("#1").css({'color': 'yellow'});
        $(div).find("#2").css({'color': 'yellow'});
        $(div).find("#3").css({'color': 'yellow'});
        $(div).find("#4").css({'color': 'yellow'});
        }
    }

</script>
<body>

]<BR><BR>
 <h1 align="center"></h1>
{% for t in lista_transacoes %}
 <div class="card rouded border border-secondary container" style="margin: 2vw;">
   
  <div class="row align-itens-center">
    <div class="col">
      <img src="/painel/imagens/{{t.vaga.foto.foto}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{t.vaga.rua}}, {{t.vaga.bairro}}, {{t.vaga.cidade}}</h5>
        
        <p class="card-text"><small class="text-muted">Você alugou esta vaga de <b>{{t.vaga.usuario.first_name}} {{t.vaga.usuario.last_name}}</b> Há {{t.horaEntrada|timesince}}</small></p>
        <p class="card-text"><small class="text-muted">Você pagou R$ {{t.valor_total|floatformat:2}} para ficar de   {{t.horaEntrada}} até {{t.horaSaida}}</small></p>
        <div class="card-footer">
           <div id="{{t.id}}" align="center" class="transacao"><br><small class="text-muted">Avalie</small><br>    
                {% if t.avaliacaoDono == -1 %}
            <button id="0" value="0"><i class='fas fa-star'></i></button>
            <button id="1" value="1"><i class='fas fa-star'></i></button>
            <button id="2" value="2"><i class='fas fa-star'></i></button>
            <button id="3" value="3"><i class='fas fa-star'></i></button>
            <button id="4" value="4"><i class='fas fa-star'></i></button>
        </div>
        {% else %}
            {% for x in r %}
                {% if x < t.avaliacaoDono %}
                    <button id="{{x}}" value="{{x}}" style="color: yellow;"><i class='fas fa-star'></i></button>
                {% else %}
                    <button id="{{x}}" value="{{x}}"><i class='fas fa-star'></i></button>
                {% endif %}
            
            {% endfor %}
        </div>
        {% endif %}
        </div>
        <div class="card-footer">
        {%if t.reembolsado != True %}

            <div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    
    <div class="col"><a href="javascript:void(0);" onclick="observacao('{{t.vaga.observacao}}')" class="btn btn-success"> Ver Observação</a></div>
    <div class="col"><a href="javascript:void(0);" onclick="contato('{{t.vaga.usuario.perfil.telefone}}')" class="btn btn-success" >Ver contato </a></div>
    <div class="col"><a class="btn btn-success" href="/painel/{{t.vaga.id}}/rota">Ver rota  </a></div>
    {%else%}
    <div align="center"><h5  style="color: #f44">REEMBOLSADO</h5>
    {%endif%}
  </div></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
 

    

 {% endfor %}
 

 </body>
</html>
{%endblock%}