{%extends 'meuperfil/base.html'%}
{%block content%}
{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
  
</head>
<style type="text/css">
    button{
        background-color: transparent;
        border-width: 0px;
        padding: 0px;
    }
    
</style>
<script type="text/javascript">
function observacao(o){
    alert(o);
}
function contato(x){
    alert(x);
}
    $(window).on("load", function(){

   $("#preloader").hide();

});
    $(document).on("click", "button", function() {
        var valor = $(this).val();
        var div = $(this).closest('div.transacao');
        var idt = $(this).closest('div.transacao').attr('id');
        $.ajax({
                    method:"POST",
                    url: "api/avaliacao",
                    data: {idtransacao: idt, nota: valor}
                 }).done(function(data) {
                    if (data.status == "Ok") {
                        ajusta(valor, div); 
                    }else{
                        alert("Erro ao avaliar transação");
                    }
        
        });
    });
    function ajusta(valor, div) {
        $(div).find("#0").css({'color': 'black'});
        $(div).find("#1").css({'color': 'black'});
        $(div).find("#2").css({'color': 'black'});
        $(div).find("#3").css({'color': 'black'});
        $(div).find("#4").css({'color': 'black'});
        if (valor == '0') {
        $(div).find("#0").css({'color': 'yellow'});
        }
        if  (valor == '1') {
        $(div).find("#0").css({'color': 'yellow'});
        $(div).find("#1").css({'color': 'yellow'});
        }
        if (valor == '2') {
        $(div).find("#0").css({'color': 'yellow'});
        $(div).find("#1").css({'color': 'yellow'});
        $(div).find("#2").css({'color': 'yellow'});
        }
        if (valor == '3') {
        $(div).find("#0").css({'color': 'yellow'});
        $(div).find("#1").css({'color': 'yellow'});
        $(div).find("#2").css({'color': 'yellow'});
        $(div).find("#3").css({'color': 'yellow'});
        }
        if (valor == '4') {
        $(div).find("#0").css({'color': 'yellow'});
        $(div).find("#1").css({'color': 'yellow'});
        $(div).find("#2").css({'color': 'yellow'});
        $(div).find("#3").css({'color': 'yellow'});
        $(div).find("#4").css({'color': 'yellow'});
        }
    }

</script>
<body>


 <h1> Suas Locações </h1>
 
 
 {% for t in lista_transacoes %}
    <div id="{{t.id}}" class="transacao"  style="padding-right: 10px; padding-left: 10px;{%if t.reembolsado == True %} background-color: #ddd{%endif%}">Endereço: {{t.vaga.rua}}, {{t.vaga.bairro}}, {{t.vaga.cidade}}.
    <table width="100%">
        <tr>
            <td>R$ {{t.valor_total|floatformat:2}}</td> 
            <td style="text-align: center;">
            <small class="text-muted">Avalie</small><br>    
                {% if t.avaliacaoDono == -1 %}
            <button id="0" value="0"><i class='fas fa-star'></i></button>
            <button id="1" value="1"><i class='fas fa-star'></i></button>
            <button id="2" value="2"><i class='fas fa-star'></i></button>
            <button id="3" value="3"><i class='fas fa-star'></i></button>
            <button id="4" value="4"><i class='fas fa-star'></i></button>
        </div>
        {% else %}
            {% for x in r %}
                {% if x < t.avaliacaoDono %}
                    <button id="{{x}}" value="{{x}}" style="color: yellow;"><i class='fas fa-star'></i></button>
                {% else %}
                    <button id="{{x}}" value="{{x}}"><i class='fas fa-star'></i></button>
                {% endif %}
            
            {% endfor %}
        </div>
        {% endif %}</td>
        </tr>
        

    </table><br>
    Você alugou esta vaga de <b>{{t.vaga.usuario.first_name}} {{t.vaga.usuario.last_name}}</b> Há {{t.horaEntrada|timesince}}
    <div style="padding-top: 30px;" align="left">
                <a href="javascript:void(0);" onclick="observacao('{{t.vaga.observacao}}')" class="btn-success" style="border-radius: 5px; color: white; padding: 2px;"><small> Ver Observação </small></a>
            </div>
    <div align="right">
                <a href="javascript:void(0);" onclick="contato('{{t.vaga.usuario.email}}')" class="btn-success" style="border-radius: 5px; color: white; padding: 10px;"> Contato </a>
            {%if t.reembolsado == True %} <h5 align="center" style="color: #f44">REEMBOLSADO</h5>{%else%}<br><br><a class="btn-warning" style="padding: 2px; border-radius: 2px;" href="/painel/{{t.vaga.id}}/rota">Ver rota  </a>{%endif%}
        
    </div>
    <hr>
</div>

 {% endfor %}
 

 </body>
</html>
{%endblock%}